.news-page-section {
 
 background-color: #1065e4;
  background-image: 
    linear-gradient(rgba(128, 141, 161, 0.219) 1px, transparent 1px),
    linear-gradient(90deg, rgba(120, 133, 153, 0.432) 1px, transparent 1px);
  background-size: 40px 40px;
}

.news-hero {
  padding: 80px 20px;
  text-align: center;
    background-image: 
 linear-gradient( rgba(26, 25, 25, 0.788), rgba(0, 0, 0, 0.74)),
 url('../assets/IMPACT_1.webp');
 background-position: center;
 background-repeat: no repeat;
  margin-bottom: 40px;
  border-bottom: 2px solid white;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-tagline {
  color: rgb(206, 71, 9);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.news-hero h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  margin-bottom: 10px;
  font-weight: 800;
  color: #faf9f9;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 500;
}

.text-brand-orange {
  color: rgb(206, 71, 9);
  font-weight: 700;
}

.news-hero p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-stats-mini {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
}


.gallery-grid {
  margin-top: 60px;
}















@media (max-width: 480px) {
  .news-hero > h1{
  padding: 8px 8px;
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 2rem;
 
 
}

.news-hero >h4{
   font-size: 3rem;
  
 
}

.news-hero p{
width: 400px;
display: inline-flex;
align-items: center;
color: #ffffff;
 font-size:0.6rem;
}

}

