.news-page-section {
 
 background-color: #1065e4;
  background-image: 
    linear-gradient(rgba(128, 141, 161, 0.219) 1px, transparent 1px),
    linear-gradient(90deg, rgba(120, 133, 153, 0.432) 1px, transparent 1px);
  background-size: 40px 40px;
}

.news-hero {
  background: linear-gradient(#2a2d9b,#497ab6); 
  padding: 2rem 0.9rem 1rem; 
  text-align: center;
  position: relative;
  margin-bottom: 0; 
}

.news-hero > h1 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: rgba(208, 224, 214, 0.1);
  color: #d3e0d8;
  padding: 8px 8px;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem; 
  border: 1px solid rgba(233, 238, 235, 0.2);
}

.news-hero > h4 {
  font-size: clamp(2.5rem, 6vw, 4rem); 
  font-weight: 700; 
  color: #ffffff;
  margin-top: 0; 
}

.news-hero p {
  max-width: 600px; 
  margin: 1rem auto 0; 
  color: #ffffff;
  line-height: 1.6;
}















@media (max-width: 480px) {
  .news-hero > h1{
  padding: 8px 8px;
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 2rem;
 
 
}

.news-hero >h4{
   font-size: 3rem;
  
 
}

.news-hero p{
width: 400px;
display: inline-flex;
align-items: center;
color: #ffffff;
}

}

