
.about-section {
  /* background-color: #0a0e31;  */
  padding: 100px 0;
  color: #ffffff;
  overflow: hidden;
}


.about-section .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 0 20px;
}


.about-content {
  flex: 1;
  max-width: 550px; 
}

.subtitle {
  color: #ff6b00; 
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 15px;
}

.title {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 25px;
  font-weight: 800;
}

.description {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #cbd5e1; 
  margin-bottom: 35px;
}

.cta-button {
  background-color: #ff6b00;
  color: white;
  padding: 16px 40px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.cta-button:hover {
  background-color: #e65a00;
  transform: translateY(-3px);
}


.about-image {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.about-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 24px; 
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px){

.about-section .container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 40px;
  padding: 0 10px;
}

.subtitle {
  color: #ff6b00; 
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9rem;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 15px;
}


.title {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 25px;
  font-weight: 600;
}

.cta-button {
 
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  
}


.description {
  font-size: 0.8rem;
  line-height: 1.7;
  color: #cbd5e1; 
  margin-bottom: 35px;
}



   
}

