



@media (max-width: 768px) {
  .Why{
    padding: 20px;
}

.btn{
    color: #ffff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: ease-in-out .5s;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
}
}