@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@variant dark (&:where(.dark, .dark *));




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
  background-color: #f8fafc; 
  background-image: radial-gradient(#e2e8f0 1px, transparent 1px);
  background-size: 40px 40px;
  font-family: "Varela Round", sans-serif;
}

.dark body {
  background-color: #020617; 
  background-image: radial-gradient(#1e293b 1px, transparent 1px);
}


:root{
    --primary-color:#2563EB;
    --secondary-color:#0F172A;
    --background-color:#F8FAFC;
}



.container{
    max-width: 90%;
}