@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cal+Sans&family=Lilita+One&family=Varela+Round&display=swap');

@variant dark (&:where(.dark, .dark *));
@theme {
  --color-brand-navy: #1A237E;
  --color-brand-backup: #2962ff;
  --color-brand-orange: #ff6d00;
  --color-brand-white: #ffffff;
  --color-brand-option: #00d4ff;
}

.Toastify__toast-container {
  z-index: 9999;
  position: fixed; 
}



.Toastify__toast--success {
  background-color: #ff6d00; 
  color: white;              
}


.Toastify__progress-bar--success {
  background-color: #ffffff;
}




*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
  background-color: #f8fafc; 
  background-image: radial-gradient(#e2e8f0 1px, transparent 1px);
  background-size: 40px 40px;
 font-family: "Lilita One", sans-serif;
}




.container{
    max-width: 90%;
}



.btn{
    /* background: rgba(21, 214, 221, 0.308); */
    color: #ffff;
    padding: 10px 20px;
    border-radius: 20px;
    /* border:2px solid rgb(44, 151, 212); */
    transition: ease-in-out .5s;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;

}




.top-nav{
  padding: 20px 30px;
  background:#3a41c6;
  
}

.social_link li{
  /* background-color: #033297; */
  color: #FF6D00;
  
}




.about{
  margin-top: 40px;
}


@keyframes drift {
  0% { transform: translate(0, 0); }
  50% { transform: translate(30px, -50px); }
  100% { transform: translate(0, 0); }
}

.animate-drift {
  animation: drift 15s infinite alternate ease-in-out;
}